{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": ["error"],
    "@typescript-eslint/no-unused-vars": ["error"],
    "@typescript-eslint/consistent-type-imports": [
      "error",
      { "prefer": "type-imports" }
    ],
    "@typescript-eslint/restrict-template-expressions": [
      "error",
      { "allowNullish": true }
    ],
    "semi": ["error", "never"],
    "eol-last": ["error", "always"],
    "quote-props": ["error", "consistent-as-needed"],
    "array-element-newline": ["off"],
    "no-unused-vars": "off"
  },
  "ignorePatterns": ["*.js"],
  "parserOptions": {
    "warnOnUnsupportedTypeScriptVersion": false,
    "project": ["./tsconfig.json"]
  }
}
