{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": ["error"],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "args": "after-used"
      }
    ],
    "@typescript-eslint/consistent-type-imports": [
      "error",
      {
        "prefer": "type-imports"
      }
    ],
    "@typescript-eslint/restrict-template-expressions": [
      "error",
      {
        "allowNullish": true
      }
    ],
    "semi": ["error", "never"],
    "eol-last": ["error", "always"],
    "quote-props": ["error", "consistent-as-needed"],
    "array-element-newline": ["off"],
    "no-unused-vars": "off",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "never"
      }
    ],
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "no-restricted-imports": [
      "error",
      {
        "patterns": [".."]
      }
    ]
  },
  "ignorePatterns": ["*.js"],
  "parserOptions": {
    "warnOnUnsupportedTypeScriptVersion": false,
    "project": ["./tsconfig.json"]
  },
  "settings": {
    "import/resolver": {
      "typescript": true,
      "node": true
    }
  }
}
